<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recyclabears | Play</title>
    <link rel="stylesheet" type="text/css" href="/css/new_play.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/icon.png"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/new_play.js"></script>
</head>
<body>


<div id="header">
    <div id="site-name"><a><img src="/assets/images/icon.png">Recyclabears</a></div>
    <div id="navigation">
        <a class="active">Play</a>
        <a>Learn</a>
        <a>Rank</a>
        <a>Create</a>
        <a>Shop</a>
    </div>
</div>

<h1>Play</h1>

<!-- 9x9 Flags -->
<div class="page">
    <quiz-1>
        <table>
            <tr>
                <td>
                    <button onclick="toggleQuizWindow(this)">
                        <img class="flag-img" src="/assets/images/png/flag-green.png">
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <img class="flag-img" src="/assets/images/png/flag-green.png">
                </td>
            </tr>
            <tr>
                <td>
                    <img class="flag-img" src="/assets/images/png/flag-green.png">
                </td>
            </tr>
        </table>

    </quiz-1>

    <quiz-2>
        <img class="flag-img" src="/assets/images/png/flag-red.png">
    </quiz-2>

    <quiz-3>
        <img class="flag-img" src="/assets/images/png/flag-red.png">
    </quiz-3>
</div>


<!-- PopUp Window to display the quizzes;
     Overlay prevents users from clicking the layers below -->
<div class="overlay" id="overlay_base">
</div>
<div class="popup" id="popup_base">
    <h2>Activities</h2>
    <div id="quiz_container">
    </div>

    <!-- Temporary buttons to test the pages -->
    <div class="toggle_buttons">
        <p>
            <button id="multiple">Test Multiple Choice</button>
            <button id="blanks">Test Fill in the Blanks</button>
            <button id="vid">Test Video</button>
        </p>
        <button onclick="toggleMessageWindow()">Toggle Message Window</button>
        <button  onclick="toggleQuizWindow()">Close</button>
    </div>


    <!-- PopUp Window to display messages about the quiz -->
    <div class="overlay" id="overlay_message">
    </div>
    <div class="popup" id="popup_message">

        <p id="msg_insert"></p>
        <button onclick="toggleMessageWindow(this)">Close Message Window</button>
    </div>

</div>

</body>
</html>