<script type="text/javascript" src="/js/play_functions.js"></script>

<h1>Multiple Choice Quiz</h1>



<p>*Insert question here*</p>


<!-- Insert image if provided -->



<p>


    <%for(var i=0; i<buttons.length; i++){%>

        <button><%=buttons[i]%></button>

    <%}%>


</p>


