<h1>Multiple Choice Quiz</h1>
<p>*Insert question here*</p>


<!-- Insert image if provided -->



<p>

    <!-- Edit name of variables when connected to db -->
    <%for(var i=0; i<options.length; i++){

        var option_class;
        if(options[i] === correct_ans){
            option_class = "correct";
        } else {
            option_class = "wrong";
        }
    %>
        <button class="<%=option_class%>" onclick="toggleMessageWindow(this)"><%=options[i]%></button>
    <%}%>




</p>


