@import "master";

.maincontent {
  font-family: $raleway;
  font-size: medium;
  text-align: center;
  padding: 15px;
}

h2 {
  color: #f05249;
  line-height: 100%;
  font-family: $averia-libre;
  font-size: 40px;
}

.maincontent {
  p {
    font-size: large;
    /*margin-bottom: 15px;*/
  }
}

.category {
  font-size: x-large;
  display: inline-block;
  background-color: #ffb9c8;
  padding: 10px;
  margin: 0 10px;
  color: white;
  &:hover {
    background-color: white;
    color: #ffb9c8;
    cursor: pointer;
  }
  &:active {
    color: red;
  }
}

.icon-content {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 50px;
  margin: 5px;
  background: #fdb72f;
  &:hover {
    background: #FFEFF6;
  }
}

.video {
  width: 100%;
  height: 10%;
  display: block;
}

#info-details {
  height: 100%;
}

ol {
  padding-right: 0;
}

li {
  padding-left: 0;
}