@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Averia+Libre);

$raleway: Raleway, sans-serif;
$averia-libre: 'Averia Libre', cursive;

* {
  box-sizing: border-box;
}

body {
  font-family: $raleway;
  text-align: center;
}