@import "master";

/** CSS Grid setup */
.page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4em 4em 12em -webkit-min-content;
  grid-template-rows: 4em 4em 12em min-content;
  grid-template-areas: "header header header" "txt txt txt" "vid quiz act" "milestones milestones milestones";

  grid-column-gap: 5px;
  grid-row-gap: 5px;

}

/** Let grid cells have rounded edges */
.page > * {
  border-radius: 25px;
}

header {
  grid-row: 1/2;
  grid-column: 1/4;
  grid-area: header;

  background-color: #7DD0E7;
}

txt {
  grid-row: 2/3;
  grid-column: 1/4;
  grid-area: txt;

  background-color: #FE868C;
}

/** Style Links as buttons */
.button_link {
  font: bold 11px 'Raleway';
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

vid {
  grid-row: 3/4;
  grid-column: 1/2;
  grid-area: vid;

  background-color: #BF89CC;
}

quiz {
  grid-row: 3/4;
  grid-column: 2/3;
  grid-area: quiz;

  background-color: #D0FA84;
}

act {
  grid-row: 3/4;
  grid-column: 3/4;
  grid-area: act;

  background-color: #E6D9B2;
}

/** Let contents of these grid containers be center-oriented */
vid, quiz, act {

  justify-content: center;
  align-items: center;
  display: flex;
}

milestones {
  grid-row: 4/5;
  grid-column: 1/4;
  grid-area: milestones;

  background-color: #FFBF8A;
}

.btn-group {
  /** Styling the buttons in Milestone Grid */
  button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }

  /** Add a background color on hover */
  button:hover {
    background-color: #3e8e41;
  }
}

/** Random padding */
.indent {
  padding: 5em;
}