@import "master";
@import "header";

#container {
  display: grid;
  grid-template-columns: auto 213px;
  top: $header-height;
  bottom: 0;
  position: absolute;
  width: 100%;
}

/* Adaptation for the container to go below header when in this range */
@media screen and (max-width: 1100px) and (min-width: 720px){
  #container {
    top: $header-height*2;
  }
}


#world-container {
  background-color: #4CAF50;
  img#world-img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  grid-column: 1;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

.save-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  opacity: 0.8;
  background-color: blueviolet;
  color: white;
  font-family: $averia-libre;
  font-size: 18px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  z-index: 100; // Let this be above overlay layer
  &:hover {
    background-color: cornflowerblue;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  }
  &:active {
    background-color: orangered;
    box-shadow: 0px 0px 5px rgba(255, 150, 150, 0.5);
  }
  &:disabled {
    background-color: #768591;
  }
}

.rubbish-to-move {
  cursor: move;
  width: min-content;
  height: min-content;
  img {
    width: 100px;
  }
  position: absolute;
  bottom: 50px;
  z-index: 100;   // Let this be above overlay layer; can move rubbish without "Edit"
  draggable: true;
}

#items-container {
  grid-column: 2;
  overflow-y: auto;

  button {
    font-family: $raleway;
  }
}

.item-to-move {
  //background: #f6f6f6;
  cursor: move;
  width: min-content;
  height: min-content;
  img {
    width: 100px;
  }
  position: absolute;
  top: 100px;
  z-index: 9;
}

.item-in-world {
  width: min-content;
  height: min-content;
  img {
    width: 100px;
  }
  position: absolute;
  z-index: 99;   /* Let this be above overlay layer; can detect collision with rubbish without "Edit"
                    Let value be less than rubbish-to-move so that it doesn't block the rubbish */
}

img.shop_item {
  max-width: 180px;
  max-height: 180px;
}


/* Styling the overlay covering the whole screen to prevent users from moving items */
.overlay {
  //display:none;    //This make it initially hidden
  position:fixed;  //This makes it so it says in a fixed position even if they scroll around
  left:0px;        //This positions the element to the left most position
  top:0px;         //This positions the element to the top most position
  width:100%;      //This makes the element take up 100% of the parents width
  height:100%;     //This makes the element take up 100% of the parents height
//  background: $color-transparent-50; //Give it a black background, with alpha-transparency
  z-index:50;   //Let overlay be below edit button
  overflow:hidden;

}