@import "master";
@import "header";

#container {
  display: grid;
  grid-template-columns: auto 213px;
  top: $header-height;
  bottom: 0;
  position: absolute;
  width: 100%;
}

#world-container {
  background-color: #4CAF50;
  img#world-img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  grid-column: 1;
  overflow-x: auto;
  overflow-y: hidden;
}

.rubbish-to-move {
  cursor: move;
  width: min-content;
  height: min-content;
  img {
    width: 100px;
  }
  position: absolute;
  bottom: 100px;
  z-index: 9;
  draggable: true;
}

#items-container {
  grid-column: 2;
  overflow-y: auto;

  button {
    font-family: $raleway;
  }
}

#item-to-move, #item-to-move2, .item-to-move {
  //background: #f6f6f6;
  cursor: move;
  width: min-content;
  height: min-content;
  img {
    width: 100px;
  }
  position: absolute;
  top: 100px;
  z-index: 9;
  draggable: true;
}

img.shop_item {
  max-width: 180px;
  max-height: 180px;
}


