@import "master";

#cpimg {
  float: left;
}

#checkpoint_open {
  position: fixed;
  top: 40%;
  left: 20%;
  background-color: #fdb72f;
  border-radius: 25px;
  text-align: center;
  padding: 50px;
  z-index: 1;
  font-family: $raleway;
  font-size: xx-large;
  display: none;
}

img {
  width: 100%;
}

#overlay {
  display:none;    //This make it initially hidden
  position:fixed;  //This makes it so it says in a fixed position even if they scroll around
  left:0px;        //This positions the element to the left most position
  top:0px;         //This positions the element to the top most position
  width:100%;      //This makes the element take up 100% of the parents width
  height:100%;     //This makes the element take up 100% of the parents height
  background:#000; //Give it a black background
  opacity:0.5;     //Change the opacity to 50% so that is see through.
  z-index:99999;   //Change the z-index so it will be above everything else
}

#popup {
  display:none;
  position:fixed;
  left:50%;            //left and top here position top left page
  top:50%;             //of the element to the center of the
  width:300px;         //Set the popup to have a specific width/height
  height:300px;
  margin-top:-150px;   //To get the popup to center correctly we need
  margin-left:-150px;   //To displace the the top/left margins by half of the width/height
  background:#C2E5F4;  //Background of light blue
  border:2px solid #000;  //And give it a border
  border-radius: 25px;  //A rounded border
  border-style: dotted; //Dotted border
  border-color: #4A7493; //Change border colour
  z-index:100000;      //Set z-index to 1 more than that of the overlay so the popup is over the overlay
  opacity: 0.7;
}