@import "master";

#cpimg {
  float: left;
}

#checkpoint_open {
  position: fixed;
  top: 40%;
  left: 20%;
  background-color: #fdb72f;
  border-radius: 25px;
  text-align: center;
  padding: 50px;
  z-index: 1;
  font-family: $raleway;
  font-size: xx-large;
  display: none;
}

img {
  width: 100%;
}