.choice{
  cursor: pointer;
  display: block;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  background: #4A7493;
  border-radius: 15px;
  width: 60%;
  color: white;
}

.choice:hover{
  background: #f4e26b;
  color: black;
}





