#choice_area{
  width: 100%;

  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;

  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}


.choice{
  cursor: pointer;
  margin: 10px;
  text-align: center;
  padding: 10px;
  background: #4A7493;
  border-radius: 15px;
  width: 40%;
  color: white;
  display: inline-block;

  img{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
  }
}

.choice:hover{
  background: #f4e26b;
  color: black;
}

