<h1>Create your multiple choice question:</h1>


<p>Preview statement...</p>
<div id="preview_container">

    <pre id="0-preview" class="preview"></pre>

</div>


<form method="post">


    <div id="input_fields_blanks" class="input_fields_wrap">
        <button id="add_field_button" onclick="addField(this.parentNode)">Add More Fields</button>
        <div id="0">
            <select name="fill_blank_type" onchange="modifyTextDecoration(this)">
                <option value="fill">Fill</option>
                <option value="blank">Blank</option>
            </select>
            <input type="text" name="options" onkeyup="previewText(this)" required>
        </div>

    </div>

    <input type="submit">

</form>
