<h1>Create your multiple choice question:</h1>

<form id="createQuestion" method="post" onsubmit="submitQuestion()">

    Enter your question:
    <input type="text" name="question" required>

    <br>

  <!--  Enter image (optional):
    <input type="file" accept="image/*" name="ques_img">

    <br>
-->
    Enter the correct answer:
    <input type="text" name="correct_ans" required>

    <br>

    Enter other answer options:
    <div id="input_fields_mult" class="input_fields_wrap">
        <button id="add_field_button" onclick="addField(this.parentNode)">Add More Fields</button>
        <div id="0"><input type="text" name="options-0" required></div>

    </div>

    <input type="submit">

</form>
