<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recyclabears</title>
    <link href="" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/coming_soon.css">

    <link rel="shortcut icon" type="image/png" href="/assets/images/icon.png"/>
</head>
<body>
    <div class="maincontent">
        <h2>
            Do you know your <span class="project-name">Recyclabears?</span>
        </h2>
        <p>
            Join us in keeping the world green from June 2018, one recyclable at a time!
        </p>

        <form>
            <label><input type="email" class="input-field" id="notify-email" placeholder="Email" /></label>
            <input type="submit" value="Submit" class="submit"/>
        </form>
        <br>
        <p class="credits">
            by Team We Bare Bears<br>
            Mei Chin &middot; Kolatat Thangkasemvathana &middot; Dalzy Mendoza
        </p>

    </div>


</body>
</html>