<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recyclabears</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/coming_soon.css">

</head>
<body>
    <div class="maincontent">
        <p>
            <img src="/assets/images/webarebears.png" width='300px' alt="Recyling Bears"><br>
            Do you know your <span class="project-name">Recyclabears</span>?<br>
            Save the earth, one recyclable at a time.<br>
        </p>

        <form>
            <label><input type="email" class="input-field" name="notify-email" value="Email" /></label>
            <input type="submit" value="Submit" />
        </form>

    </div>


</body>
</html>