<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recyclabears | Milestones</title>
    <link rel="stylesheet" type="text/css" href="/css/milestones.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/icon.png"/>
</head>
<body>

<div class ="page">

    <header><h1>Milestones</h1></header>
    <txt>Insert text here</txt>


    <vid>
        <a href="/vid/" class="button_link">Video</a>
    </vid>


    <quiz>
        <a href="/quiz/" class="button_link">Quiz</a>
    </quiz>


    <act>
        <a href="/act/" class="button_link">Have you...?</a>
    </act>


    <milestones>

        <h3>Milestones Area</h3>

        <div class="btn-group" style="width:100%">
            <button style="width:50%">Daily</button>
            <button style="width:50%">Overview</button>
        </div>

        <p class="indent"></p>

        <p>Insert milestones graphics here...</p>

    </milestones>

</div>

</body>
</html>