<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recyclabears | Milestones</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/milestones.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/icon.png"/>
</head>
<body>

<div class ="page">

    <header><h1>Milestones</h1></header>
    <txt>Insert text here</txt>


    <vid>
        <a href="/vid/" class="button_link">Video</a>
    </vid>


    <quiz>
        <a href="/quiz/" class="button_link">Quiz</a>
    </quiz>


    <act>
        <a href="/act/" class="button_link">Have you...?</a>
    </act>


    <milestones>Milestones</milestones>

</div>

</body>
</html>