<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recyclabears | World </title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Averia+Libre" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/world.css">

    <link rel="shortcut icon" type="image/png" href="/assets/images/icon.png"/>

    <script type="text/javascript" src="/js/world.js"></script>
</head>
<body>
<div class ="page">
    <div class="map">
        <img id="world-image" src="/assets/images/world-skeleton.png" usemap="#world-map"/>
        <a href="/leaderboard/" target="sectionFrame" id="leaderboard-link" onmouseover="hoverLeaderboard()" onmouseout="resetWorldImage()"></a>
        <a href="/milestones/" target="sectionFrame" id="milestones-link" onmouseover="hoverMilestones()" onmouseout="resetWorldImage()"></a>
        <a href="/faq/" target="sectionFrame" id="information-link" onmouseover="hoverInformation()" onmouseout="resetWorldImage()"></a>
    </div>

    <iframe id="sectionFrame" name="sectionFrame" src="">
    </iframe>
</div>
</body>
</html>