body{
    background: url("/assets/images/bg-bears.jpg") no-repeat fixed;
    background-size: cover;

}
.maincontent{
    background: url("/assets/images/halftone-yellow.png") repeat;
    opacity: 0.9;
    position: absolute;
    width: 50%;
    min-width: 300px;
    top: 30%;
    left: 50%;
    padding: 20px 20px 20px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    text-align: center;
    border: 3px dashed #f05249;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

label > span{
    color: #f07545;
    font-weight: bold;
}

input{
    margin-top:10px;
}


input[type=email]{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #f07545;
    outline: none;
    color: rgba(35, 28, 30, 0.72);
    padding: 5px 8px 5px 8px;
    margin: 0 10px;
    max-width:250px;
    box-shadow: inset 1px 1px 4px #FFD5E7;
    -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
    -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
    font-size: medium;
    background: #FFEFF6;
    width:50%;
}

input[type=submit]{
    background: #f05249;
    border: none;
    padding: 5px 15px 5px 15px;
    color: white;
    outline: none;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    /*font-weight: bold;*/
    font-size: medium;
}

input[type=submit]:hover{
    background: #f02e35;
}

h2{
    font-size: xx-large;
    color: #f05249;
    line-height: 100%;
    font-family: 'Averia Libre', cursive;
    font-size: 40px;
}

.maincontent p{
    font-size: large;
    /*margin-bottom: 15px;*/
}

.project-name{
    font-weight: bold;

}

#footer{
    font-size: small;
    margin-top: 70px;
}

.left-footer{
    float: left;
    display: inline-block;
}

.right-footer{
    float: right;
    display: inline-block;
}

p.credits{
    font-size: small;
}
