.map {
    font-family: Raleway, sans-serif;
    font-size: medium;
    text-align: center;
    grid-area: map;
    width: 100%;
    position: relative; }
.map img {
    width: 100%;
    /*height: auto;*/
    display: block; }
.map a {
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.1);*/ }


/* Let the image background be full-sized in the right section*/
body {
    margin: 0; }


/* Positions for links to sub-pages */
#why-link {
    left: 18.5%;
    top: 17%;
    width: 25%;
    height: 13%; }

#how-link {
    left: 52%;
    top: 20%;
    width: 25%;
    height: 13%; }

#what-link {
    left: 22%;
    top: 36%;
    width: 25%;
    height: 13%; }

#stats-link {
    left: 55%;
    top: 36%;
    width: 25%;
    height: 13%; }


