#cpimg{
    float:left;

}

body {
    margin: 0;
}

#checkpoint_open{
    position: fixed;
    top: 40%;
    left: 20%;
    background-color: #fdb72f;
    border-radius: 25px;
    text-align: center;
    padding: 50px;
    z-index: 1;
    font-family: Raleway;
    font-size: xx-large;
    display:none;
}