<head>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<div class="grid-container">
    <img id="profile-photo" src="<%=user.photo%>">
    <span class="name"><%=user.name%></span>
    <span class="score"><%=user.score%></span>
    <button id="visit-world" onclick=''>Visit World</button>
    <button id="friend-action" onclick=''>Unfriend</button>
    <button onclick='closeProfile()'>X</button>
</div>

